﻿<div class="container" ng-controller="EmailsController as vm">
    <div class="row">
        <div class="span10">
            <div class="alert alert-dismissible alert-success" dismiss-on-timeout="1000" ng-repeat="newEmail in vm.newEmails">
                <button type="button" class="close" data-dismiss="alert" ng-click="vm.closeAlert($index)">×</button>
                <strong>Email received!</strong> Subject: {{newEmail.Subject}}
            </div>

            <div class="panel panel-success" ng-repeat="email in vm.emails">
                <div class="panel-heading">
                    <h3 class="panel-title">From: {{email.From}}</h3>
                    <h3 class="panel-title">Subject: {{email.Subject}}</h3>
                    <h3 class="panel-title">Group: {{email.Group}}</h3>
                    <h3 class="panel-title">Date: {{email.ReceivedDateTime | date:'medium'}}</h3>
                </div>
                <div class="panel-body" ng-bind-html="vm.trustHtml(email.Bodyhtml)">
                </div>
            </div>
        </div>
    </div>
</div>