﻿@using System.Web.Configuration
@{
    Layout = null;
}
<!doctype html>
<html ng-app="rallydemoapp">
<head>
    <title>Rally Demo</title>
    <link href="~/Content/bootstrap-flat.min.css" rel="stylesheet"/>
    <link href="~/Content/bootstrap.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-route.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-resource.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    @Scripts.Render("~/bundles/signalr")
    <script src="signalr/hubs"></script>
    <script src="~/Angular/rallydemo-app.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.4.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Angular/Emails/emails-controller.js"></script>
    <base href="/">
</head>
 <body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Rally Demo</a>
            </div>
        </div>
    </nav>
    <div ng-view></div>*
</body>
</html>
